<div class="flex items-center grid gap-4 lg:grid-cols-3 m-8">
    <!-- Organism -->
    <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <!-- Atoms -->
        <app-h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" [text]="'Ajedrez Básico'"></app-h2>
        <div class="inline-flex pt-1">
            <!-- Molecules -->
            <div class="flex items-center gap-4 relative w-5 h-5 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <!-- ATOMS -->
                <svg class="absolute w-7 h-7 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
            </div>
            <div class="font-medium pl-4 dark:text-white">
                <!-- atoms -->
                <app-h3 [text]="'Raul Eugenio Torres'"></app-h3>
            </div>
        </div>
        <app-p class=" text-gray-900 dark:text-white pt-2" [text]="'28 Agosto 2024'"></app-p>
        <app-p class="mb-5 font-light text-gray-500 dark:text-gray-400" [text]="'Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.'"></app-p>
        <!-- Molecules -->
        <div class="flex justify-between items-center">
          <!-- Atoms -->
          <app-url href="#" class="inline-flex items-center font-medium text-blue-400 hover:text-blue-500 hover:underline" text="Entrar">            
            <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </app-url>
        </div>
    </article>
     <!-- Organism  -->
    <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <!-- Atoms -->
        <app-h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" [text]="'Física Cuántica'"></app-h2>
        <div class="inline-flex pt-1">
            <!-- Molecules -->
            <div class="flex items-center gap-4 relative w-5 h-5 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <!-- ATOMS -->
                <svg class="absolute w-7 h-7 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
            </div>
            <div class="font-medium pl-4 dark:text-white">
                <!-- atoms -->
                <app-h3 [text]="'Emmet Lathrop Brown'"></app-h3>
            </div>
        </div>
        <app-p class=" text-gray-900 dark:text-white pt-2" [text]="'16 Septiembre 2024'"></app-p>
        <app-p class="mb-5 font-light text-gray-500 dark:text-gray-400" [text]="'Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.'"></app-p>
        <!-- Molecules -->
        <div class="flex justify-between items-center">
            <!-- Atoms -->
            <app-url href="#" class="inline-flex items-center font-medium text-blue-400 hover:text-blue-500 hover:underline" text="Entrar">
                <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </app-url>
        </div>
    </article>
    <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <!-- Atoms -->
        <app-h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" [text]="'¿Qué es el amor?'"></app-h2>
        <div class="inline-flex pt-1">
            <!-- Molecules -->
            <div class="flex items-center gap-4 relative w-5 h-5 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <!-- ATOMS -->
                <svg class="absolute w-7 h-7 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
            </div>
            <div class="font-medium pl-4 dark:text-white">
                <!-- atoms -->
                <app-h3 [text]="'Caroline Hernandez Palacio'"></app-h3>
            </div>
        </div>
        <app-p class=" text-gray-900 dark:text-white pt-2" [text]="'13 Octubre 2024'"></app-p>
        <app-p class="mb-5 font-light text-gray-500 dark:text-gray-400" [text]="'Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.'"></app-p>
        <!-- Molecules -->
        <div class="flex justify-between items-center">
          <!-- Atoms -->
          <app-url href="#" class="inline-flex items-center font-medium text-blue-400 hover:text-blue-500 hover:underline" text="Entrar">
            <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </app-url>
        </div>
    </article>
</div> 