<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>side navbar</title>
    
</head>
<body>
<div class="side-nav">
    <div class="user" style="width: 170px;">
        <app-icon src="../../../../../assets/images/usuario.png" class="img"></app-icon>
        <h2 class="nombre">Jorge Perez</h2>
    </div>
    <ul>
        <li><app-icon src="../../../../../assets/icons/hogar.png" class="img"></app-icon><app-url href="" text="Inicio"></app-url></li>
        <li><app-icon src="../../../../../assets/icons/graduacion (1).png" class="img"></app-icon><app-url href="" text="Cursos"></app-url></li>
        <li><app-icon src="../../../../../assets/icons/tutor.png" class="tareas"></app-icon><app-url href="" text="Profesores"></app-url></li>
        <li><app-icon src="../../../../../assets/icons/estudiantes.png" class="img"></app-icon><app-url href="" text="Alumnos"></app-url></li>
    </ul>
    <div class="logo">
        <app-icon src="../../../../../assets/images/Diseño sin título (1).svg" class="profe" ></app-icon>
        <h2 class="nom-logo">ClassConnect</h2>
    </div>
</div>
</body>
</html>