.side-nav{
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: #CDE6DE;
    backdrop-filter: blur(5px);
    flex-direction: column;
    transition: width 0.3s;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    width: 60px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
}

.user app-icon{
    margin-left: 10px;
}


ul{
    list-style: none;
    padding: 0 15px;
}

ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}

ul li app-icon{
    width: 30px;
    margin-right: 0px;
}

ul li app-url{
    white-space: nowrap;
    display: none;
}

.nombre{
    display: none;
}

.side-nav:hover{
    width: 250px;
}

.side-nav:hover .user .nombre{
    display: block;
}

.side-nav:hover .user{
    width: 100%;
    
}

.side-nav:hover .user app-icon{
    margin: 0;
}

.side-nav:hover ul li app-url{
    display: block;
}

.side-nav:hover ul li app-icon{
   margin-right: 10px;
}
.side-nav:hover ul li {
    justify-content: flex-start;
}

.side-nav:hover .logo {
    margin-left: 55px;
}

.nom-logo{
    color:black;
    font-size: 13px;
    margin-left: -7px;
    font-weight: bold;
    opacity: 0;
}

.side-nav:hover .nom-logo {
   font-size: 15px;
   opacity: 1;

}
