<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <app-icon src="../../../../../assets/images/Diseño sin título (1).svg" class="logoH" ></app-icon>
            <ul>
                <li>
                    <app-url href="" text="Inicio" class="home"></app-url>
                </li>
                <li>
                    <app-url href="" text="Sobre nosotros" class="home"></app-url>
                </li>
                <li>
                    <app-url href="" text="Mision" class="home"></app-url>
                </li>
                <li>
                    <app-url href="" text="Contactanos" class="home" ></app-url>
                </li>
            </ul>
    </div>
    <div class="content">
        <h1>Bienvenido a ClassConnect</h1>
        <p>ClassConnect es una plataforma educativa diseñada para facilitar la colaboración entre maestros, estudiantes y padres a través del intercambio de recursos educativos. <br> Su función principal es permitir a los docentes compartir planes de lecciones, videos, juegos interactivos y otros<br> materiales didácticos de manera fácil
             y accesible desde cualquier dispositivo, ya sea una computadora, tablet o teléfono inteligente.</p>
             <div>
                <button type="buttonH"><span></span>Iniciar Sesion</button>
                <button class="buttonH"><span class="span"></span>Registrarse</button>
             </div>
    </div>
</div>
    
</body>
</html>