<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Registrate</h1>
            <div class="column">
            <div class="register">

                <div class="input-box">
                    <input type="text" placeholder="Tipo documento"
                    required>
                    <label >Tipo documento</label>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Documento "
                    required>
                    <label >Documento</label>
                </div>
    
                <div class="input-box">
                    <input type="text" placeholder="Fecha expedicion"
                    required>
                    <label >Fecha expedicion</label>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Departamento expedicion"
                    required>
                    <label >Departamento expedicion</label>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Lugar nacimiento"
                    required>
                    <label >Lugar nacimiento</label>
                </div>

            </div>
            <div class="register2">

                <div class="input-box">
                    <input type="text" placeholder="Nombres"
                    required>
                    <label >Nombres / Nombre</label>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Apellidos"
                    required>
                    <label >Apellidos / Apellido</label>
                </div>
    
                <div class="input-box">
                    <input type="text" placeholder="Fecha nacimiento"
                    required>
                    <label >Fecha nacimiento</label>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Pais recidencia"
                    required>
                    <label >Pais recidencia</label>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Departamento recidencia"
                    required>
                    <label >Departamento recidencia</label>
                </div>

            </div>
            <div class="register3">

                <div class="input-box">
                    <input type="email" placeholder="Correo eletronico"
                    required>
                    <label >Correo eletronico</label>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Celular"
                    required>
                    <label >celular</label>
                </div>
    
                <div class="input-box">
                    <input type="text" placeholder="Telefono"
                    >
                    <label >Telefono</label>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="sexo"
                    required>
                    <label >Sexo</label>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password"
                    required>
                    <label >Password</label>
                </div>

            </div>
        </div>

           
            <button type="submit" class="btn">Registrar</button>

            <div class="register-link">
                <p>Ya tienes una cuenta?<a routerLink="/login" > Inicia sesion</a></p>
            </div>
        </form>
    </div>
    
</body>
</html>
